@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, white 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, white);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}
@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.calendly-inline-widget iframe {
  height: 100vh !important;
  width: 100vw !important;
}

@media screen and (max-width: 650px) {
  .calendly-inline-widget iframe {
    width: 90vw !important;
    margin-top: 5rem;
  }
}